@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --ff: "Inter", sans-serif;
    --colorprimary: #834B3A;
    --colorsecondary: #5E92C3;
    --colortetriary: #D57754;
    --coloraccent: #3D6A94;
    --h1: bold 80px/10px var(--ff);
    --p: bold 12px/10px var(--ff);
}
.my-container {
    text-align: center;
}

body{
    background: #8BB5D8;
    color: #5E92C3;
    font: var(--p)
}
h1{
    color:#834B3A;
    font: var(--h1)
}
p{
    font: var(--p)
}
